@model EducationSystemKZ_Azure.Models.Report

@{
    ViewBag.Title = "Monthly";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Monthly</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TuitionFee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Period, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 input-container">
                @Html.EditorFor(model => model.Period, new { htmlAttributes = new { @class = "form-control", type = "month" } })
                <span class="input-description">- Select a month. </span>
                @Html.ValidationMessageFor(model => model.Period, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Reports Page", "Index")
</div>

