@model EducationSystemKZ_Azure.Models.TuitionFee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div>
    <h4>TuitionFee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Semester)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Department)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeePeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeePeriod)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceId }) |
    @Html.ActionLink("Back to List", "GetAll")
</p>
